=begin
#Syncro

#Welcome to the official Syncro API Docs.  To use these docs, you will need an active Syncro account. You can sign up for one here: [Syncro](https://syncromsp.com)  If you already have an active account, fill in your subdomain below and then click \"Authorize\" and fill in your api-key. The key is specific to your user account so it is found on the your user profile page.  Please review the [API License Agreement](https://syncromsp.com/syncromsp-api-license-agreement/) before using our API. By accessing our API, you are agreeing to the API License Agreement.  Please note there is a rate limit of 180 requests per minute per IP address on API Usage.    

OpenAPI spec version: v1
Contact: help@syncromsp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module WmSyncromspSwaggerClient
  class EstimateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a paginated list of Estimates
    # Required permission: Estimates - List/Search 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :mine Returns estimates that belong to the current user
    # @option opts [String] :status Returns estimates with a given status. Possible values are &#x27;approved&#x27; and &#x27;declined&#x27;.
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 50 results
    # @return [nil]
    def estimates_get(opts = {})
      estimates_get_with_http_info(opts)
      nil
    end

    # Returns a paginated list of Estimates
    # Required permission: Estimates - List/Search 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :mine Returns estimates that belong to the current user
    # @option opts [String] :status Returns estimates with a given status. Possible values are &#x27;approved&#x27; and &#x27;declined&#x27;.
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 50 results
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_get ...'
      end
      # resource path
      local_var_path = '/estimates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mine'] = opts[:'mine'] if !opts[:'mine'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Convert an Estimate to an Invoice
    # Required permissions: \"Estimates - View Details\" and \"Invoices - Create\" 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def estimates_id_convert_to_invoice_post(id, opts = {})
      estimates_id_convert_to_invoice_post_with_http_info(id, opts)
      nil
    end

    # Convert an Estimate to an Invoice
    # Required permissions: \&quot;Estimates - View Details\&quot; and \&quot;Invoices - Create\&quot; 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_convert_to_invoice_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_convert_to_invoice_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_convert_to_invoice_post"
      end
      # resource path
      local_var_path = '/estimates/{id}/convert_to_invoice'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_convert_to_invoice_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an Estimate by ID
    # Required permission: Estimates - Delete 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def estimates_id_delete(id, opts = {})
      estimates_id_delete_with_http_info(id, opts)
      nil
    end

    # Deletes an Estimate by ID
    # Required permission: Estimates - Delete 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_delete"
      end
      # resource path
      local_var_path = '/estimates/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Sends an Estimate to a Customer
    # Required permission: Estimates - View Details 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def estimates_id_email_post(id, opts = {})
      estimates_id_email_post_with_http_info(id, opts)
      nil
    end

    # Sends an Estimate to a Customer
    # Required permission: Estimates - View Details 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_email_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_email_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_email_post"
      end
      # resource path
      local_var_path = '/estimates/{id}/email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves an Estimate by ID or number
    # Required permission: Estimates - View Details 
    # @param id Estimate ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number Estimate number is used when the server cannot find an Estimate by ID
    # @return [nil]
    def estimates_id_get(id, opts = {})
      estimates_id_get_with_http_info(id, opts)
      nil
    end

    # Retrieves an Estimate by ID or number
    # Required permission: Estimates - View Details 
    # @param id Estimate ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :number Estimate number is used when the server cannot find an Estimate by ID
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_get"
      end
      # resource path
      local_var_path = '/estimates/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a Line Item
    # Required permission: Estimates - Edit 
    # @param id 
    # @param line_item_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def estimates_id_line_items_line_item_id_delete(id, line_item_id, opts = {})
      estimates_id_line_items_line_item_id_delete_with_http_info(id, line_item_id, opts)
      nil
    end

    # Deletes a Line Item
    # Required permission: Estimates - Edit 
    # @param id 
    # @param line_item_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_line_items_line_item_id_delete_with_http_info(id, line_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_line_items_line_item_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_line_items_line_item_id_delete"
      end
      # verify the required parameter 'line_item_id' is set
      if @api_client.config.client_side_validation && line_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_item_id' when calling EstimateApi.estimates_id_line_items_line_item_id_delete"
      end
      # resource path
      local_var_path = '/estimates/{id}/line_items/{line_item_id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'line_item_id' + '}', line_item_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_line_items_line_item_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates a Line Item
    # Required permission: Estimates - Edit 
    # @param id 
    # @param line_item_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body 
    # @return [nil]
    def estimates_id_line_items_line_item_id_put(id, line_item_id, opts = {})
      estimates_id_line_items_line_item_id_put_with_http_info(id, line_item_id, opts)
      nil
    end

    # Updates a Line Item
    # Required permission: Estimates - Edit 
    # @param id 
    # @param line_item_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_line_items_line_item_id_put_with_http_info(id, line_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_line_items_line_item_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_line_items_line_item_id_put"
      end
      # verify the required parameter 'line_item_id' is set
      if @api_client.config.client_side_validation && line_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_item_id' when calling EstimateApi.estimates_id_line_items_line_item_id_put"
      end
      # resource path
      local_var_path = '/estimates/{id}/line_items/{line_item_id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'line_item_id' + '}', line_item_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_line_items_line_item_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a Line Item to an Estimate
    # Required permission: Estimates - Edit 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body 
    # @return [nil]
    def estimates_id_line_items_post(id, opts = {})
      estimates_id_line_items_post_with_http_info(id, opts)
      nil
    end

    # Adds a Line Item to an Estimate
    # Required permission: Estimates - Edit 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_line_items_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_line_items_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_line_items_post"
      end
      # resource path
      local_var_path = '/estimates/{id}/line_items'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_line_items_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Queues a print job for an Estimate
    # Required permission: Estimates - View Details 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def estimates_id_print_post(id, opts = {})
      estimates_id_print_post_with_http_info(id, opts)
      nil
    end

    # Queues a print job for an Estimate
    # Required permission: Estimates - View Details 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_print_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_print_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_print_post"
      end
      # resource path
      local_var_path = '/estimates/{id}/print'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_print_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates an existing Estimate by ID
    # Required permission: Estimates - Edit 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body11] :body 
    # @return [nil]
    def estimates_id_put(id, opts = {})
      estimates_id_put_with_http_info(id, opts)
      nil
    end

    # Updates an existing Estimate by ID
    # Required permission: Estimates - Edit 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body11] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EstimateApi.estimates_id_put"
      end
      # resource path
      local_var_path = '/estimates/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates an Estimate
    # Required permission: Estimates - Create 
    # @param [Hash] opts the optional parameters
    # @option opts [Body10] :body 
    # @return [nil]
    def estimates_post(opts = {})
      estimates_post_with_http_info(opts)
      nil
    end

    # Creates an Estimate
    # Required permission: Estimates - Create 
    # @param [Hash] opts the optional parameters
    # @option opts [Body10] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def estimates_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EstimateApi.estimates_post ...'
      end
      # resource path
      local_var_path = '/estimates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EstimateApi#estimates_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
