=begin
#Syncro

#Welcome to the official Syncro API Docs.  To use these docs, you will need an active Syncro account. You can sign up for one here: [Syncro](https://syncromsp.com)  If you already have an active account, fill in your subdomain below and then click \"Authorize\" and fill in your api-key. The key is specific to your user account so it is found on the your user profile page.  Please review the [API License Agreement](https://syncromsp.com/syncromsp-api-license-agreement/) before using our API. By accessing our API, you are agreeing to the API License Agreement.  Please note there is a rate limit of 180 requests per minute per IP address on API Usage.    

OpenAPI spec version: v1
Contact: help@syncromsp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module WmSyncromspSwaggerClient
  class InvoiceLineItemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deletes an a line item of an invoice by ID
    # This deletes an existing Invoice's line item
    # @param id ID of Invoice to delete
    # @param line_item_id ID of line item to update
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoices_id_line_items_line_item_id_delete(id, line_item_id, opts = {})
      invoices_id_line_items_line_item_id_delete_with_http_info(id, line_item_id, opts)
      nil
    end

    # Deletes an a line item of an invoice by ID
    # This deletes an existing Invoice&#x27;s line item
    # @param id ID of Invoice to delete
    # @param line_item_id ID of line item to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_line_items_line_item_id_delete_with_http_info(id, line_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceLineItemApi.invoices_id_line_items_line_item_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceLineItemApi.invoices_id_line_items_line_item_id_delete"
      end
      # verify the required parameter 'line_item_id' is set
      if @api_client.config.client_side_validation && line_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_item_id' when calling InvoiceLineItemApi.invoices_id_line_items_line_item_id_delete"
      end
      # resource path
      local_var_path = '/invoices/{id}/line_items/{line_item_id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'line_item_id' + '}', line_item_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceLineItemApi#invoices_id_line_items_line_item_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates an a line item of an invoice by ID
    # This updates an existing Invoice's line item, all parameters overwrite existing params
    # @param id ID of Invoice to update
    # @param line_item_id ID of line item to update
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body ID of line item to update
    # @return [nil]
    def invoices_id_line_items_line_item_id_put(id, line_item_id, opts = {})
      invoices_id_line_items_line_item_id_put_with_http_info(id, line_item_id, opts)
      nil
    end

    # Updates an a line item of an invoice by ID
    # This updates an existing Invoice&#x27;s line item, all parameters overwrite existing params
    # @param id ID of Invoice to update
    # @param line_item_id ID of line item to update
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body ID of line item to update
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_line_items_line_item_id_put_with_http_info(id, line_item_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceLineItemApi.invoices_id_line_items_line_item_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceLineItemApi.invoices_id_line_items_line_item_id_put"
      end
      # verify the required parameter 'line_item_id' is set
      if @api_client.config.client_side_validation && line_item_id.nil?
        fail ArgumentError, "Missing the required parameter 'line_item_id' when calling InvoiceLineItemApi.invoices_id_line_items_line_item_id_put"
      end
      # resource path
      local_var_path = '/invoices/{id}/line_items/{line_item_id}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'line_item_id' + '}', line_item_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceLineItemApi#invoices_id_line_items_line_item_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new line item
    # Required permission: Invoices - Edit 
    # @param id ID of Invoice to update
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body ID of line item to update
    # @return [nil]
    def invoices_id_line_items_post(id, opts = {})
      invoices_id_line_items_post_with_http_info(id, opts)
      nil
    end

    # Creates a new line item
    # Required permission: Invoices - Edit 
    # @param id ID of Invoice to update
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body ID of line item to update
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_line_items_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceLineItemApi.invoices_id_line_items_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceLineItemApi.invoices_id_line_items_post"
      end
      # resource path
      local_var_path = '/invoices/{id}/line_items'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceLineItemApi#invoices_id_line_items_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
