=begin
#Syncro

#Welcome to the official Syncro API Docs.  To use these docs, you will need an active Syncro account. You can sign up for one here: [Syncro](https://syncromsp.com)  If you already have an active account, fill in your subdomain below and then click \"Authorize\" and fill in your api-key. The key is specific to your user account so it is found on the your user profile page.  Please review the [API License Agreement](https://syncromsp.com/syncromsp-api-license-agreement/) before using our API. By accessing our API, you are agreeing to the API License Agreement.  Please note there is a rate limit of 180 requests per minute per IP address on API Usage.    

OpenAPI spec version: v1
Contact: help@syncromsp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module WmSyncromspSwaggerClient
  class InvoiceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a paginated list of Invoices
    # Required permission: Invoices - List/Search 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :paid Whether or not the returned list of invoices has been marked as paid
    # @option opts [BOOLEAN] :unpaid Whether or not the returned list of invoices has been marked as unpaid
    # @option opts [Integer] :ticket_id Any invoices attached to a Ticket ID
    # @option opts [String] :since_updated_at Any invoices updated since a date
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [nil]
    def invoices_get(opts = {})
      invoices_get_with_http_info(opts)
      nil
    end

    # Returns a paginated list of Invoices
    # Required permission: Invoices - List/Search 
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :paid Whether or not the returned list of invoices has been marked as paid
    # @option opts [BOOLEAN] :unpaid Whether or not the returned list of invoices has been marked as unpaid
    # @option opts [Integer] :ticket_id Any invoices attached to a Ticket ID
    # @option opts [String] :since_updated_at Any invoices updated since a date
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_get ...'
      end
      # resource path
      local_var_path = '/invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'paid'] = opts[:'paid'] if !opts[:'paid'].nil?
      query_params[:'unpaid'] = opts[:'unpaid'] if !opts[:'unpaid'].nil?
      query_params[:'ticket_id'] = opts[:'ticket_id'] if !opts[:'ticket_id'].nil?
      query_params[:'since_updated_at'] = opts[:'since_updated_at'] if !opts[:'since_updated_at'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an invoice by ID
    # Returns 200 even if the delete fails
    # @param id ID of Invoice to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoices_id_delete(id, opts = {})
      invoices_id_delete_with_http_info(id, opts)
      nil
    end

    # Deletes an invoice by ID
    # Returns 200 even if the delete fails
    # @param id ID of Invoice to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceApi.invoices_id_delete"
      end
      # resource path
      local_var_path = '/invoices/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Sends invoice to customer
    # Required permission: Invoices - View Details 
    # @param id ID of Invoice which will be emailed
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoices_id_email_post(id, opts = {})
      invoices_id_email_post_with_http_info(id, opts)
      nil
    end

    # Sends invoice to customer
    # Required permission: Invoices - View Details 
    # @param id ID of Invoice which will be emailed
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_email_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_id_email_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceApi.invoices_id_email_post"
      end
      # resource path
      local_var_path = '/invoices/{id}/email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_id_email_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves an Invoice by ID or Number
    # Required permission: Invoices - View Details 
    # @param id ID or Number of Invoice to retrieve
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2002]
    def invoices_id_get(id, opts = {})
      data, _status_code, _headers = invoices_id_get_with_http_info(id, opts)
      data
    end

    # Retrieves an Invoice by ID or Number
    # Required permission: Invoices - View Details 
    # @param id ID or Number of Invoice to retrieve
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2002, Integer, Hash)>] InlineResponse2002 data, response status code and response headers
    def invoices_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceApi.invoices_id_get"
      end
      # resource path
      local_var_path = '/invoices/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2002' 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Queues a print job for an invoice
    # Required permission: Invoices - View Details 
    # @param id The ID of the Invoice to print
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoices_id_print_post(id, opts = {})
      invoices_id_print_post_with_http_info(id, opts)
      nil
    end

    # Queues a print job for an invoice
    # Required permission: Invoices - View Details 
    # @param id The ID of the Invoice to print
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_print_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_id_print_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceApi.invoices_id_print_post"
      end
      # resource path
      local_var_path = '/invoices/{id}/print'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_id_print_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates an existing invoice by ID
    # This updates an existing Invoice, all parameters overwrite existing params
    # @param id ID of Invoice to update
    # @param [Hash] opts the optional parameters
    # @option opts [Body13] :body Invoice properties to update
    # @return [nil]
    def invoices_id_put(id, opts = {})
      invoices_id_put_with_http_info(id, opts)
      nil
    end

    # Updates an existing invoice by ID
    # This updates an existing Invoice, all parameters overwrite existing params
    # @param id ID of Invoice to update
    # @param [Hash] opts the optional parameters
    # @option opts [Body13] :body Invoice properties to update
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceApi.invoices_id_put"
      end
      # resource path
      local_var_path = '/invoices/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Returns the associated ticket for an invoice
    # Required permissions: \"Invoices - View Details\" and \"Tickets - View Details\" 
    # @param id ID of Invoice whose Ticket will be returned
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def invoices_id_ticket_get(id, opts = {})
      invoices_id_ticket_get_with_http_info(id, opts)
      nil
    end

    # Returns the associated ticket for an invoice
    # Required permissions: \&quot;Invoices - View Details\&quot; and \&quot;Tickets - View Details\&quot; 
    # @param id ID of Invoice whose Ticket will be returned
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_id_ticket_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_id_ticket_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InvoiceApi.invoices_id_ticket_get"
      end
      # resource path
      local_var_path = '/invoices/{id}/ticket'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_id_ticket_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates an Invoice
    # Required permission: Invoices - Create 
    # @param [Hash] opts the optional parameters
    # @option opts [Body12] :body Invoice object that needs to be added
    # @return [nil]
    def invoices_post(opts = {})
      invoices_post_with_http_info(opts)
      nil
    end

    # Creates an Invoice
    # Required permission: Invoices - Create 
    # @param [Hash] opts the optional parameters
    # @option opts [Body12] :body Invoice object that needs to be added
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def invoices_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvoiceApi.invoices_post ...'
      end
      # resource path
      local_var_path = '/invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvoiceApi#invoices_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
