=begin
#Syncro

#Welcome to the official Syncro API Docs.  To use these docs, you will need an active Syncro account. You can sign up for one here: [Syncro](https://syncromsp.com)  If you already have an active account, fill in your subdomain below and then click \"Authorize\" and fill in your api-key. The key is specific to your user account so it is found on the your user profile page.  Please review the [API License Agreement](https://syncromsp.com/syncromsp-api-license-agreement/) before using our API. By accessing our API, you are agreeing to the API License Agreement.  Please note there is a rate limit of 180 requests per minute per IP address on API Usage.    

OpenAPI spec version: v1
Contact: help@syncromsp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module WmSyncromspSwaggerClient
  class LeadApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a paginated list of Leads
    # Required permission: Leads - List/Search 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :statuses Array of statuses. Possible values are \&quot;New\&quot;, \&quot;Lead\&quot;, \&quot;First Contact\&quot;, \&quot;Opportunity\&quot;, \&quot;Prospect\&quot;, \&quot;Waiting on Client\&quot;, \&quot;In Negotiation\&quot;, \&quot;Pending\&quot;, \&quot;Won\&quot;, \&quot;Lost\&quot;.
    # @option opts [String] :status_list Comma separated list of statuses.
    # @option opts [Array<Integer>] :users Array of user IDs.
    # @option opts [Array<Integer>] :mailbox_ids Array of Mailbox IDs
    # @option opts [BOOLEAN] :has_ticket 
    # @option opts [String] :query Search query
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [nil]
    def leads_get(opts = {})
      leads_get_with_http_info(opts)
      nil
    end

    # Returns a paginated list of Leads
    # Required permission: Leads - List/Search 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :statuses Array of statuses. Possible values are \&quot;New\&quot;, \&quot;Lead\&quot;, \&quot;First Contact\&quot;, \&quot;Opportunity\&quot;, \&quot;Prospect\&quot;, \&quot;Waiting on Client\&quot;, \&quot;In Negotiation\&quot;, \&quot;Pending\&quot;, \&quot;Won\&quot;, \&quot;Lost\&quot;.
    # @option opts [String] :status_list Comma separated list of statuses.
    # @option opts [Array<Integer>] :users Array of user IDs.
    # @option opts [Array<Integer>] :mailbox_ids Array of Mailbox IDs
    # @option opts [BOOLEAN] :has_ticket 
    # @option opts [String] :query Search query
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def leads_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadApi.leads_get ...'
      end
      # resource path
      local_var_path = '/leads'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'statuses'] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?
      query_params[:'status_list'] = opts[:'status_list'] if !opts[:'status_list'].nil?
      query_params[:'users'] = @api_client.build_collection_param(opts[:'users'], :multi) if !opts[:'users'].nil?
      query_params[:'mailbox_ids'] = @api_client.build_collection_param(opts[:'mailbox_ids'], :multi) if !opts[:'mailbox_ids'].nil?
      query_params[:'has_ticket'] = opts[:'has_ticket'] if !opts[:'has_ticket'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadApi#leads_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves a Lead by ID
    # Required permission: Leads - List/Search 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def leads_id_get(id, opts = {})
      leads_id_get_with_http_info(id, opts)
      nil
    end

    # Retrieves a Lead by ID
    # Required permission: Leads - List/Search 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def leads_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadApi.leads_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LeadApi.leads_id_get"
      end
      # resource path
      local_var_path = '/leads/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadApi#leads_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates an existing Lead by ID
    # Required permission: None 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body15] :body Lead object that needs to be updated
    # @return [nil]
    def leads_id_put(id, opts = {})
      leads_id_put_with_http_info(id, opts)
      nil
    end

    # Updates an existing Lead by ID
    # Required permission: None 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body15] :body Lead object that needs to be updated
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def leads_id_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadApi.leads_id_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LeadApi.leads_id_put"
      end
      # resource path
      local_var_path = '/leads/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadApi#leads_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a Lead
    # Required permission: None 
    # @param [Hash] opts the optional parameters
    # @option opts [Body14] :body Lead object that needs to be added
    # @return [nil]
    def leads_post(opts = {})
      leads_post_with_http_info(opts)
      nil
    end

    # Creates a Lead
    # Required permission: None 
    # @param [Hash] opts the optional parameters
    # @option opts [Body14] :body Lead object that needs to be added
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def leads_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeadApi.leads_post ...'
      end
      # resource path
      local_var_path = '/leads'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeadApi#leads_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
