=begin
#Syncro

#Welcome to the official Syncro API Docs.  To use these docs, you will need an active Syncro account. You can sign up for one here: [Syncro](https://syncromsp.com)  If you already have an active account, fill in your subdomain below and then click \"Authorize\" and fill in your api-key. The key is specific to your user account so it is found on the your user profile page.  Please review the [API License Agreement](https://syncromsp.com/syncromsp-api-license-agreement/) before using our API. By accessing our API, you are agreeing to the API License Agreement.  Please note there is a rate limit of 180 requests per minute per IP address on API Usage.    

OpenAPI spec version: v1
Contact: help@syncromsp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module WmSyncromspSwaggerClient
  class RMMAlertApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a paginated list of RMM Alerts
    # Required permission: RMM Alerts - List Single-Customer Users can only access own RMM Alerts. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Possible values resolved, all, active. (default to active)
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [nil]
    def rmm_alerts_get(opts = {})
      rmm_alerts_get_with_http_info(opts)
      nil
    end

    # Returns a paginated list of RMM Alerts
    # Required permission: RMM Alerts - List Single-Customer Users can only access own RMM Alerts. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Possible values resolved, all, active.
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rmm_alerts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMMAlertApi.rmm_alerts_get ...'
      end
      # resource path
      local_var_path = '/rmm_alerts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMMAlertApi#rmm_alerts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes/Clears an RMM Alert by ID
    # Required permission: RMM Alerts - Delete Single-Customer Users can only access own RMM Alerts. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rmm_alerts_id_delete(id, opts = {})
      rmm_alerts_id_delete_with_http_info(id, opts)
      nil
    end

    # Deletes/Clears an RMM Alert by ID
    # Required permission: RMM Alerts - Delete Single-Customer Users can only access own RMM Alerts. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rmm_alerts_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMMAlertApi.rmm_alerts_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RMMAlertApi.rmm_alerts_id_delete"
      end
      # resource path
      local_var_path = '/rmm_alerts/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMMAlertApi#rmm_alerts_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves an RMM Alert by ID
    # Required permission: RMM Alerts - List Single-Customer Users can only access own RMM Alerts. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rmm_alerts_id_get(id, opts = {})
      rmm_alerts_id_get_with_http_info(id, opts)
      nil
    end

    # Retrieves an RMM Alert by ID
    # Required permission: RMM Alerts - List Single-Customer Users can only access own RMM Alerts. 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rmm_alerts_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMMAlertApi.rmm_alerts_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RMMAlertApi.rmm_alerts_id_get"
      end
      # resource path
      local_var_path = '/rmm_alerts/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMMAlertApi#rmm_alerts_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Mutes an RMM Alert by ID
    # Required permission: RMM Alerts - Clear/Manage Single-Customer Users can only access own RMM Alerts. 
    # @param id 
    # @param mute_for Length of time to mute alert for. Accepted values: &#x27;1-hour&#x27;, &#x27;1-day&#x27;, &#x27;2-days&#x27;, &#x27;1-week&#x27;, &#x27;2-weeks&#x27;, &#x27;1-month&#x27;, &#x27;forever&#x27;
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def rmm_alerts_id_mute_post(id, mute_for, opts = {})
      rmm_alerts_id_mute_post_with_http_info(id, mute_for, opts)
      nil
    end

    # Mutes an RMM Alert by ID
    # Required permission: RMM Alerts - Clear/Manage Single-Customer Users can only access own RMM Alerts. 
    # @param id 
    # @param mute_for Length of time to mute alert for. Accepted values: &#x27;1-hour&#x27;, &#x27;1-day&#x27;, &#x27;2-days&#x27;, &#x27;1-week&#x27;, &#x27;2-weeks&#x27;, &#x27;1-month&#x27;, &#x27;forever&#x27;
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rmm_alerts_id_mute_post_with_http_info(id, mute_for, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMMAlertApi.rmm_alerts_id_mute_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RMMAlertApi.rmm_alerts_id_mute_post"
      end
      # verify the required parameter 'mute_for' is set
      if @api_client.config.client_side_validation && mute_for.nil?
        fail ArgumentError, "Missing the required parameter 'mute_for' when calling RMMAlertApi.rmm_alerts_id_mute_post"
      end
      # resource path
      local_var_path = '/rmm_alerts/{id}/mute'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mute_for'] = mute_for

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMMAlertApi#rmm_alerts_id_mute_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates an RMM Alert
    # Required permission: RMM Alerts - Create Single-Customer Users can only access own RMM Alerts. 
    # @param [Hash] opts the optional parameters
    # @option opts [Body30] :body 
    # @return [nil]
    def rmm_alerts_post(opts = {})
      rmm_alerts_post_with_http_info(opts)
      nil
    end

    # Creates an RMM Alert
    # Required permission: RMM Alerts - Create Single-Customer Users can only access own RMM Alerts. 
    # @param [Hash] opts the optional parameters
    # @option opts [Body30] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def rmm_alerts_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RMMAlertApi.rmm_alerts_post ...'
      end
      # resource path
      local_var_path = '/rmm_alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RMMAlertApi#rmm_alerts_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
