=begin
#Syncro

#Welcome to the official Syncro API Docs.  To use these docs, you will need an active Syncro account. You can sign up for one here: [Syncro](https://syncromsp.com)  If you already have an active account, fill in your subdomain below and then click \"Authorize\" and fill in your api-key. The key is specific to your user account so it is found on the your user profile page.  Please review the [API License Agreement](https://syncromsp.com/syncromsp-api-license-agreement/) before using our API. By accessing our API, you are agreeing to the API License Agreement.  Please note there is a rate limit of 180 requests per minute per IP address on API Usage.    

OpenAPI spec version: v1
Contact: help@syncromsp.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.25
=end

module WmSyncromspSwaggerClient
  class WorksheetResultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a paginated list of Worksheet Results
    # Required permissions: \"Tickets - View Details\" or \"Tickets - View 'Their Ticket' Details (assigned to them)\" Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [nil]
    def tickets_ticket_id_worksheet_results_get(ticket_id, opts = {})
      tickets_ticket_id_worksheet_results_get_with_http_info(ticket_id, opts)
      nil
    end

    # Returns a paginated list of Worksheet Results
    # Required permissions: \&quot;Tickets - View Details\&quot; or \&quot;Tickets - View &#x27;Their Ticket&#x27; Details (assigned to them)\&quot; Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Returns provided page of results, each &#x27;page&#x27; contains 25 results
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tickets_ticket_id_worksheet_results_get_with_http_info(ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorksheetResultApi.tickets_ticket_id_worksheet_results_get ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_get"
      end
      # resource path
      local_var_path = '/tickets/{ticket_id}/worksheet_results'.sub('{' + 'ticket_id' + '}', ticket_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorksheetResultApi#tickets_ticket_id_worksheet_results_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a Worksheet Result
    # Required permissions: \"Tickets - View Details\" or \"Tickets - View 'Their Ticket' Details (assigned to them)\" Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tickets_ticket_id_worksheet_results_id_delete(ticket_id, id, opts = {})
      tickets_ticket_id_worksheet_results_id_delete_with_http_info(ticket_id, id, opts)
      nil
    end

    # Deletes a Worksheet Result
    # Required permissions: \&quot;Tickets - View Details\&quot; or \&quot;Tickets - View &#x27;Their Ticket&#x27; Details (assigned to them)\&quot; Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tickets_ticket_id_worksheet_results_id_delete_with_http_info(ticket_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorksheetResultApi.tickets_ticket_id_worksheet_results_id_delete ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_id_delete"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_id_delete"
      end
      # resource path
      local_var_path = '/tickets/{ticket_id}/worksheet_results/{id}'.sub('{' + 'ticket_id' + '}', ticket_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorksheetResultApi#tickets_ticket_id_worksheet_results_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves a Worksheet Result by ID
    # Required permissions: \"Tickets - View Details\" or \"Tickets - View 'Their Ticket' Details (assigned to them)\" Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def tickets_ticket_id_worksheet_results_id_get(ticket_id, id, opts = {})
      tickets_ticket_id_worksheet_results_id_get_with_http_info(ticket_id, id, opts)
      nil
    end

    # Retrieves a Worksheet Result by ID
    # Required permissions: \&quot;Tickets - View Details\&quot; or \&quot;Tickets - View &#x27;Their Ticket&#x27; Details (assigned to them)\&quot; Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tickets_ticket_id_worksheet_results_id_get_with_http_info(ticket_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorksheetResultApi.tickets_ticket_id_worksheet_results_id_get ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_id_get"
      end
      # resource path
      local_var_path = '/tickets/{ticket_id}/worksheet_results/{id}'.sub('{' + 'ticket_id' + '}', ticket_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorksheetResultApi#tickets_ticket_id_worksheet_results_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Updates a Worksheet Result
    # Required permissions: \"Tickets - View Details\" or \"Tickets - View 'Their Ticket' Details (assigned to them)\" Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body45] :body 
    # @return [nil]
    def tickets_ticket_id_worksheet_results_id_put(ticket_id, id, opts = {})
      tickets_ticket_id_worksheet_results_id_put_with_http_info(ticket_id, id, opts)
      nil
    end

    # Updates a Worksheet Result
    # Required permissions: \&quot;Tickets - View Details\&quot; or \&quot;Tickets - View &#x27;Their Ticket&#x27; Details (assigned to them)\&quot; Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body45] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tickets_ticket_id_worksheet_results_id_put_with_http_info(ticket_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorksheetResultApi.tickets_ticket_id_worksheet_results_id_put ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_id_put"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_id_put"
      end
      # resource path
      local_var_path = '/tickets/{ticket_id}/worksheet_results/{id}'.sub('{' + 'ticket_id' + '}', ticket_id.to_s).sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorksheetResultApi#tickets_ticket_id_worksheet_results_id_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates Worksheet Result
    # Required permissions: \"Tickets - View Details\" or \"Tickets - View 'Their Ticket' Details (assigned to them)\" Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body44] :body 
    # @return [nil]
    def tickets_ticket_id_worksheet_results_post(ticket_id, opts = {})
      tickets_ticket_id_worksheet_results_post_with_http_info(ticket_id, opts)
      nil
    end

    # Creates Worksheet Result
    # Required permissions: \&quot;Tickets - View Details\&quot; or \&quot;Tickets - View &#x27;Their Ticket&#x27; Details (assigned to them)\&quot; Single-Customer Users can only access own tickets. 
    # @param ticket_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Body44] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def tickets_ticket_id_worksheet_results_post_with_http_info(ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorksheetResultApi.tickets_ticket_id_worksheet_results_post ...'
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling WorksheetResultApi.tickets_ticket_id_worksheet_results_post"
      end
      # resource path
      local_var_path = '/tickets/{ticket_id}/worksheet_results'.sub('{' + 'ticket_id' + '}', ticket_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['bearerAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorksheetResultApi#tickets_ticket_id_worksheet_results_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
